{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>USER Login</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:400,700'><link rel="stylesheet" href="{% static 'js/style.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-form">
  <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
    <h1>Login</h1>
    <div class="content">
      <div class="input-field">
        <input type="text" name="username" placeholder="USERNAME">
      </div>
      <div class="input-field">
        <input type="password" name="pass" placeholder="PASSWORD">
      </div>

    </div>
    <div class="action">
      <button><a href="{% url 'register' %}" >
        Register</a></button>
      <button>Sign in</button>

    </div>
  </form>
</div>

<!-- partial -->
  <script  src="{% static 'js/script.js' %}"></script>

</body>
</html>
